<h1><%= @chapter.title %></h1>

<p><%= @chapter.text %></p>

<% if @chapter.number == 1 %>
  <p>Once upon a time, deep in a
    <%= render "shared/landscape_type_form" , object: @book%>
    lived a
    <%= render "shared/family_type_form" , object: @book%>
    family.  There was a great big Papa <%= @book.family_type %>, a medium sized Mama <%= @book.family_type %>, and a wee little Baby <%= @book.family_type %>. </p>
<% end %>

<p>Landscape type: <%= @book.landscape_type %></p>

<h3><%= link_to "Next Chapter", book_chapter_path(@book, @chapter.number + 1) %></h3>
